{% extends "base.html" %}
{% block title %}

    Degrees of {{name.first_name }} {{ name.last_name }}

{% endblock %}





{% block content %}
<div class="jumbotron">
    <h2>Degrees of {{name.first_name }} {{ name.last_name }} :</h2>
<br>

<ul class="list-group">
{% for i in deg %}
    <li class="list-group-item">{{ i.student_degree }}</li>
{% endfor %}

</ul>

<br>
<button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#demo">
    Click to add new degree</button>

    <div id="demo" class="collapse">
    <form action="" method="POST">
        <h2>Add New degree for this student</h2>
     {% csrf_token %}
     {{ formregister.as_p }}

    <button type="submit" class="btn btn-outline-dark"> Add </button>
        <span class="badge badge-success">{{ msg }}</span>
    </form>
    </div>
</div>
{% endblock %}
