{% extends "base.html" %}
{% block title %}
Students List
{% endblock %}
{% block content %}

<div class="jumbotron">
<h1>List of students </h1>
</div>
<table class="table table-dark table-hover">
    <thead>
        <th>ID</th>
        <th>Fname</th>
        <th>Lname</th>
        <th>Age</th>
        <th>Birth</th>
    </thead>
    <tbody>
    {% for st in stu %}
        <tr>
            <td> {{ st.id  }}</td>
            <td> <a href="/degree/{{ st.id }}"> {{ st.first_name }} </a></td>
            <td> {{ st.last_name }}</td>
            <td> {{ st.age }}</td>
            <td> {{ st.birth }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}

